# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
- List of popular Data Science languages
- Commonly used libraries
- Identify Data Science Tools
- How to use arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. JavaScript
4. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplolib
3. NumPy
4. Plotly

|Data Science Tools|
|-------------------|
| R Studio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This is a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Saturnina Efua Ada